.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-heading {
  font-size: 24px;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #000;
  animation: typewriter 0.5s steps(40) forwards;
  text-align: center; 
}


.login-button {
  width: 200px;
  margin-top: 20px;
  display: flex;
  justify-content: center; 
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
